nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.floatleft {
  float: left;
}

.w50 {
  width: 50%;
}

.article {
  text-indent: 50px;
}

.fixedimageheader { 
  width: 100%;
}

.index-banner {
  margin: 50px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}

.text-image-contrast {
background: rgba(200, 200, 200, 0.7);
}

.text-image-contrast-invert {
  background: rgba(55, 55, 55, 0.7);
  }

nav ul li.active {
  background-color: rgba(255, 255, 255, 0.1);
}